.contact-main {
  background-color: #f5f5f5;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Assure que le main prend au moins 80% de la hauteur de la fenêtre */
}

.contact-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  max-width: 800px;
}

.contact-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.contact-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; /* Important pour que le padding n'augmente pas la largeur */
}

.form-group textarea {
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
}

.contact-button {
  background-color: #f87517;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #185393;
}

.contact-info {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  margin-bottom: 8px;
  color: #777;
}

/* Style pour les liens */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}